:root {
    --primary-color: #0a2540;
    --secondary-color: #00b4d8;
    --accent-color: #6c5ce7;
    --background-color: #ffffff;
    --secondary-bg-color: #f3f4f5;
    --primary-text-color: #1a1a1a;
    --secondary-text-color: #6b7280;
    --bg-opacity: 0.8;
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    /* position: relative; */
}
.container {
    width: 90%;
    margin: auto;
    padding: 80px 0 0px 0;
}
/* START SETTING BOX */
.settings-box {
    position: fixed;
    z-index: 999;
    left: -200px;
    top: 25%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 0;
    background-color: var(--background-color);
    opacity: var(--bg-opacity);
    transition: 0.3s;
}
.settings-box .setting-box-icon {
    /* padding: 10px; */
    position: absolute;
    left: 200px;
    z-index: 999;
    border-radius: 0 10px 10px 0;
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: 0.3s;
}
.setting-icon {
    padding: 10px;
    z-index: 999;
    border-radius: 0 10px 10px 0;
    color: var(--primary-color);
    width: 40px;
    transition: 0.3s;
}
.settings-box .setting-icon:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
.open-settings-box {
    left: 0px;
}
.settings-box > .setting-container {
    position: relative;
    /* top: 50px; */
}
.settings-box > .setting-container h4 {
    font-weight: bold;
    color: var(--primary-text-color);
}
.setting-container .setting-option .color-options {
    box-sizing: content-box;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.setting-container .setting-option .color-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-inline-start: 0;
}
.setting-container .setting-option .color-list li {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.setting-container .setting-option .color-list li:first-child {
    background-color: #0a2540;
}
.setting-container .setting-option .color-list li:nth-child(2) {
    background-color: #ff6347;
}
.setting-container .setting-option .color-list li:nth-child(3) {
    background-color: #0000ff;
}
.active {
    border: 2px solid white;
    outline: 3px var(--secondary-color) solid;
}
/* Random backgrounds */
.settings-box .random-bg-option {
    margin-bottom: 60px;
}
.settings-box .random-bg-option .yes {
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 6px;
    width: 40%;
    margin-left: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    font-size: small;
}
.settings-box .random-bg-option .yes:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
.settings-box .random-bg-option .no {
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 6px;
    width: 40%;
    margin-left: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    font-size: small;
}
.settings-box .random-bg-option .no:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
/* END SETTING BOX */
/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    /* background-image: url(../images/03.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}
.landing-page .overlay {
    background-color: #0000001e;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    background-color: var(--secondary-bg-color);
    opacity: var(--bg-opacity);
    border-radius: 0 0 12px 12px;
}
header .logo {
    padding: 10px 0 0 10px;
}
header nav {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 10px 10px 0 0;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav ul li {
    padding-right: 25px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}
header nav ul li a:hover {
    color: var(--secondary-color);
}
.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-text-color);
    z-index: 2;
    background-color: var(--secondary-bg-color);
    opacity: var(--bg-opacity);
    padding: 15px;
    border-radius: 12px;
}
.introduction-text h1 {
    color: var(--primary-text-color);
    font-size: 50px;
    /* background-color: var(--secondary-bg-color);
    padding: 15px 30px;
    border-radius: 12px;
    opacity: 0.7; */
}
.introduction-text p {
    color: var(--primary-text-color);
    font-size: 20px;
    /* background-color: var(--secondary-bg-color);
    opacity: var(--bg-opacity);
    padding: 15px;
    border-radius: 12px; */
}
.introduction-text h1 span {
    color: var(--primary-color);
    transition: 0.1s;
}
.introduction-text h1 span:hover {
    cursor: pointer;
}
/* End Landing Page */

/* START ABOUT US */
.about-us {
    text-align: center;
}
.about-us h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 80px;
}
.about-us .box {
    display: flex;
    /* height: 200px; */
}

.about-us .info-box {
    display: flex;
    flex: 1;
}
.about-us .info-box p {
    color: var(--secondary-text-color);
    line-height: 1.5;
    font-size: x-large;
}
.about-us .image-box {
    flex: 0.6;
}
.about-us .image-box img {
}
/* END ABOUT US */

/* START OUR SKILLS */
.our-skills {
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding-bottom: 50px;
}
.our-skills h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 80px;
}
.our-skills .box {
    display: flex;
}
.our-skills .box .image-box {
    flex: 0.6;
}
.our-skills .box .info-box {
    flex: 1;
}
.our-skills .box .info-box p {
    color: var(--secondary-text-color);
    line-height: 1.5;
    font-size: x-large;
}
.our-skills .skills-progress-box .progress-div {
    display: flex;
    height: 50px;
    margin: 50px;
    align-self: center;
}
.our-skills .skills-progress-box .progress-container {
    background-color: #dbdbdb;
    height: 40%;
    width: 100%;
    margin-left: 10px;
    align-self: center;
    border-radius: 0 20px 20px 0;
    align-content: center;
    text-align: start;
}
.our-skills .skills-progress-box .progress-container span {
    display: inline-block;
    height: 100%;
    width: 1%;
    background-color: var(--primary-color);
    border-radius: 0 20px 20px 0;
    transition: width 0.5s;
}
.our-skills .skills-progress-box .progress-container .cpp-progress {
    background-color: #0086d4;
}
.our-skills .skills-progress-box .progress-container .html-progress {
    background-color: #f16529;
}
.our-skills .skills-progress-box .progress-container .css-progress {
    background-color: #2965f1;
}
.our-skills .skills-progress-box .progress-container .js-progress {
    background-color: #f5de19;
}
.our-skills .skills-progress-box .progress-container .py-progress {
    background-color: #ffd343;
}
.our-skills .skills-progress-box .progress-container .php-progress {
    background-color: #6e7eb3;
}
.our-skills .skills-progress-box .progress-container .sql-progress {
    background-color: #00bcf2;
}
.our-skills .skills-progress-box .progress-container .react-progress {
    background-color: #78cde4;
}
/* END OUR SKILLS */

/* START GALLERY */
.gallery {
    text-align: center;
}
.gallery h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 80px;
}
.gallery .image-box {
}
.gallery .image-box img {
    box-sizing: border-box;
    width: 300px;
    /* height: 200px; */
    padding: 5px;
    margin: 10px;
    border: solid var(--secondary-text-color);
    transition: 0.3s;
    border-radius: 5px;
}
.gallery .image-box img:hover {
    cursor: pointer;
    padding: 0;
    transform: scale(1);
}
/* END GALLERY */
/* START POPUP  */
.popup-container {
    background-color: #00000090;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-container .image-holder {
    width: 95vw;
    height: 55vw;
    background-color: var(--background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}
.popup-container .image-holder h3 {
    position: relative;
    top: 2px;
    margin-top: 0;
    font-style: italic;
    color: var(--primary-color);
    text-transform: uppercase;
}
.popup-container .image-holder .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--primary-color);
    transition: 0.3s;
    font-size: xx-large;
}
.popup-container .image-holder .close-btn:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
.popup-container .image-holder .popup-image {
    height: 94%;
    background-color: var(--background-color);
    margin: auto;
}
/* END POPUP  */

/* START TIMELINE */
.timeline {
    background-color: var(--secondary-bg-color);
}
.timeline .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.timeline h2 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 80px;
}
.timeline div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 200px;
}
.timeline div p {
    display: block;
    width: 45%;
    font-size: x-large;
    line-height: 1.8;
    color: var(--secondary-text-color);
    margin-top: 0;
}
.timeline div img {
    align-self: center;
    width: 45%;
    border-radius: 12px;
}
.timeline .timeline-cont .vertical-line {
    position: absolute;
    height: 90%;
    width: 5px;
    background-color: var(--primary-color);
    /* margin-top: 266px; */
    bottom: 0px;
}

/* END TIMELINE */
